.shared-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.2s;
}

.shared-button--primary {
  background-color: #646cff;
  color: white;
}

.shared-button--primary:hover {
  background-color: #535bf2;
}

.shared-button--secondary {
  background-color: #f9f9f9;
  color: #213547;
  border: 1px solid #e0e0e0;
}

.shared-button--secondary:hover {
  background-color: #e0e0e0;
}
